<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCLKA7OdQ1-qtSLp0gghaeMevda-dv8aPg</string>
	<key>GCM_SENDER_ID</key>
	<string>786056732146</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.photo.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>photo-f72a5</string>
	<key>STORAGE_BUCKET</key>
	<string>photo-f72a5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:786056732146:ios:427b10f18f82a3e9f69f6b</string>
</dict>
</plist>